img.logo-face {
	max-width: 100px;
	margin:25px 0;
}

img.spin-me { -webkit-animation: spin 4s infinite linear;}

#homepage  #qualities span {
	padding-right:15px;
	font-weight: bold;
	font-size: 11px;
}

#homepage h1 {
	font-size: 22px;
}

#homepage .message {
	max-width: 550px;
	font-size: 13px;
	text-align: center;
	padding-top: 25px;
}

#homepage .goodbye {
	margin-top:45px;
	font-size:5em;
}

#homepage .site img {
	/*max-width: 500px;*/
}

#homepage .thumb {
 margin: 20px;
}

#homepage .site {
 margin: 25px 0;
}


#homepage span.blurb,
span.blurb-cb,
span.cb-native-blurb {
	font-size: 16px;
	line-height: 21px;
	text-align: left;
	margin-top:50px;
	display: block;
}

.fold-height {
	/* min-height: 620px; */
}

#homepage .section-header {
	margin:25px 0;
}

#homepage #sillyprojects .silly-project {

}

#homepage #sillyprojects .silly-project img {
	border: 1px solid #78BFEB;
	width: 150px;
	height: 150px;
}

#homepage #sillyprojects .silly-project .silly-blurb {
	/* border: 1px solid #78BFEB; */
	width: 150px;
	height: 150px;
	text-align: text-align;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.top-nav {
	width: 100%;
	background: 	  #78BFEB;
	display: none;
}


.top-nav  ul{
	list-style: none;
}

.top-nav  ul li{
	display: block;
	float: left;
	width: 33%;
	/* border:1px solid red; */
	text-align: center;
	padding: 25px;
}

#animated-logo {
	display: none;
}
